<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
	<title></title>
</head>
<body>

<img class="calipic" src="image/cali.jpg">
<img class="calipic2" src="image/cali2.jpg">

</body>
</html>

<strong><a href="/"><--back to the main page</a></strong>
