<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
	<title></title>
</head>
<body>

<img class="hawaiipic" src="image/hawaii.jpg">
<img class="hawaiipic2" src="image/hawaii2.jpg">

</body>
</html>

<strong><a href="/"><--back to the main page</a></strong>
