<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
<div class="header">Kimokeo's Travel Blog:</div>
<div class="subheader">Marketing vs Reality</div>
	<title><h1>Kimokeo's Travel Blog</h1></title>
</head>
<body>
	<%= yield %>

</body>
<!-- 
Famous Locals

Faker::Name.name
Faker::Company.bs
Faker::Name.name
Faker::Company.bs
Faker::Name.name
Faker::Company.bs
Faker::Name.name
Faker::Company.bs
Faker::Name.name
Faker::Company.bs -->


</html>





