
<html>
<head>
	<title><strong>Kimokeo's Travel Blog</strong></title>
		<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<p>
<h2><p align="center"><a href="/nyc">New York City!</a></p></h2>
<h2><p align="center"><a href="/cali">California!</a></p></h2>
<h2><p align="center"><a href="/hawaii">Hawaii!</a></p></h2>
</p>
<ul>
		<li> hi yall</li>
</ul>
	</body>
</html>




